<!-- <p>Ideas for data to include</p>
<ol>
  <li>Total subscribers</li>
  <li>Last 5 subscribers</li>
  <li>Subscribers by subject preferences</li>
  <li>Articles by subject preferences</li>
  <li>New subscribers (#) over last 10 days</li>
</ol> -->


<h3>Subscribers</h3>
<ul class="small-block-grid-2">
  <li class="dash-3-block">
    <h5>Total Subscribers</h5>
  </li>
  <li class="dash-3-block">
    <h5>New subscribers</h5>
    <ul>
      <li>New over last 5 days</li>
    </ul>
  </li>
</ul>

<h3>Preferences</h3>
<ul class="small-block-grid-2">
  <li class="dash-3-block">
    <h5>Pie chart of preferences</h5>
  </li>
  <li class="dash-3-block">
    <h5># by subject</h5>
    <ul>
      <li>Last Five Subscribers</li>
      <li>Last Five Subscribers</li>
    </ul>
  </li>
</ul>


