  
.about {
  display: block;
  background-color: $White;
  border: 5px solid $Navy;
  width: 100%;
  max-width: 800px;
  margin: 40px auto;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;


  .member-block {
    width: 40%;
    padding: 5px;
    height: 350px;
    margin: 5%;
    display: inline-block;
    // border: 2px solid $Navy;

    img {
      height: 250px;
      width: 250px;
      border: 2px solid $Navy;
    }

  }


  @media screen and (max-width: 650px) {

    .member-block {
      width: 80%;
      padding: 10px;
      margin: 5%;
      display: inline-block;
      // border: 2px solid $Navy;

    img {
      height: 250px;
      width: 250px;
      border: 2px solid $Navy;
    }    

    } 
  }
  
}