// Add-Subscriber View

.addsubscriber {
  width: 80%;
  background-color: $White;
    margin-bottom: 0px;
    border: 6px solid $Navy;
    max-width: 500px;
    margin: 20px auto;

  h3 {
    font-weight: bold;
  }
  img {
      display: block;
      width: 40%;
      margin: 1px auto 10px ;
    }

    p {
      text-align: center;
      font-weight: bold;
      font-size: 20px;
    }

    .email-container {
      // margin-top: 10px;
      position: relative;
      display: block;
      width: 60%;
      margin: 20px auto;

      input {
        border: 2px solid $Navy;
      }

      .custom-text {
        // padding:6px 6px 6px 30px;
      }
    }

    h5 {
      font-weight: bold;
      text-align: center;
    }

    .sports {
      margin-left: 42%;
    }
   
  .submit {
    display: block;
    background-color: $Navy;
    width: 30%;
    margin: 20px auto;
    margin-bottom: 30px;
  }

  .form-error-message {
    font-size: 1em;
  }
}

  @media screen and (max-width: 375px) {

    h5 {
      text-align: center;
    }

    label {
      margin-right: 35px;
      margin-left: -10px;
    }

  }