$Navy: #082c38; 
$BrightBlue: #39bced;

.build-news {

  .newsletter-form {
    border: 3px solid white;
    padding: 15px;
    background-color: $Navy;
    color: white;
    margin: 10px auto;
    max-width: 900px;

    span {
      padding-bottom: 10px;
    }

    .build-newsletter-btn {
      display: block;
      margin: 5px auto;
    }

    label {
      color: white;
      font-size: 1em;
    }

  }

  .send-newsletter-btn {
    display: block;
    margin: 15px auto;
    width: 600px;
    background-color: $Navy;
  }

  .build-newsletter-btn2 {
      display: block;
      margin: 5px auto;
      background-color: green;
      color: white;
      border: 3px solid $Navy;
    }

  @media screen and (max-width: 375px) {

    .newsletter-form {

      width: 570px;
    }

    .body{
      width: 570px;
    }

    .send-newsletter-btn {
      width: 570px;
    }

  }

}

