// --- DASHBOARD VIEWS ----
.main-dashboard {
  background-color: $White;
  border: 6px solid $Navy;
  width: 100%;

  .dash-headlines {
    font-size: 1.6em;
    margin-top: 20px;
    border-top: 3px solid $BrightBlue;
    border-bottom: 3px solid $BrightBlue;
    background-color: $Navy;
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 6px;

  }

  .small-block-grid-2 {
    margin-top: 10px;
  }

  h2 {
    text-align: center;
  }

  h4 {
    text-align: center;
  }

  h5 {
    text-align: center; 
  }

  .big-number-dash {
    font-size: 5em;
    text-align: center;
  }

  .bar {
    padding-left: 0px;
    padding-right: 20px;
    padding-bottom: 0px;

    li {
      height: 100%;
    }

  }

  .numbers {
    background-color: $LightGrey;
    // width: 80%;
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 0px;
    border: 2px solid $LightGrey;
    border-radius: 2px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
  }


  // @media screen and (max-width: 375px) {

  //   .dash-3-block {

  //     #second-number {
  //       margin-top: -25px;
  //     }

  //   }   
  // }



@media screen and (max-width: 800px) {

    ul {
      display: block;
      width: 100%;
      margin: 0 auto;
    }

    .dash-3-block {
      width: 100%;
      padding: 8%;
      display: block;
      margin: 0 auto;

      .chart-container {
        display: block;
        margin: 5px auto;
        // min-height: 200px;
      }

      .bar-head {
        display: none;
      }

      .chart-bar {
        // margin-top: 20px;
        display: none;
      }

    }   
  }
}



// .dashboard-container {
//   background-color: white;
//   padding: 15px;
//   border: 10px solid $Navy;
// }

// ul.dash-row {
//   border-bottom: 2px solid $Navy;
