// Home Page View
.home {
  background: $White;
  display: block;
  margin: 5px auto;
  width: 80%;
  max-width: 600px;
  border: 6px solid $Navy;

  h3{
    text-align: center
  }

  h2 {
    text-align: center;
    width: 90%;
    margin: 20px auto;
    font-size: 1.8em;
    font-weight: bold;
  }

  .text {
    display: block;
    margin: 0px auto;
    text-align: center;
    width: 80%;
    padding-top: 10px;
  }

  .manageImage {

    .grid-frame {

      .gray {
        background-color: $LightGrey;
      }

      .grid-block {
        display: inline-block;
        margin: 1%;
        vertical-align: top;
        height: 100%;
        text-align: center;

        img.managePic {
          height: 200px;
          width: 200px;
          border: 6px solid $Navy;
        }
      }
      .btn-row {
        margin-left: 15%;
        margin-right: 10%;

        button {
          background-color: $Navy;
        }
      }

      @media screen and (max-width: 375px) {

        .grid-block {
          display: block;
          margin: 2% auto;

          h3 {
            display: block;
            width: 90%;
            text-align: center;
          }

          .medium-7 {

            .iPhone {
              margin-left: 15px;
            }
          }


          img.managePic {
            display: block;
            margin: 2% auto;
            height: 200px;
            width: 200px;
            border: 6px solid $Navy;
          }

        }
      }
    }
  }

}