// Log-In View

.login {
  background-color: white;
  border: 6px solid $Navy;
  display: block;
  margin: 0px auto;
  width: 60%;
  max-width: 500px;
  min-width: 300px;

  .logo{
    padding: 10px;
    text-align: center;
    font-size: 25px;
    display: block;
    margin: 20px auto;
    margin-bottom: 5px;
    width: 60%;
    max-width: 300px;
    min-width: 100px;

    img {
      margin-bottom: 10px;
    }

    p {
      font-weight: bold;
      margin-bottom: 0px;
    }
  }

  .log-in {
    padding: 5px;

    .fa {
      display: block;
      margin: 30% auto;
    }

    input {
      border: none;
    }

    .user-container {
      position: relative;
      display: block;
      margin: 5px auto;
      width: 80%;



      .user-ph {
        display: inline-block;
        width: $iconBoxWidth;
        height: 100%;
        font-size: 14px;
        font-weight: normal;
        position: absolute;
        text-align: center;
        text-shadow: 0 1px 0 #ffffff;
        background-color: #eeeeee;
        // left: 3px;
        // top: 3px;
        // bottom: 3px;
        z-index: 3;
        border: $iconBoxBorder;
      }

      .custom-text {
        padding: $customTextPadding;
      }
    }
  
    .password-container{
      position: relative;
      display: block;
      margin: 5px auto;
      width: 80%;

      .password-ph {
        display: inline-block;
        width: $iconBoxWidth;
        height: 100%;
        font-size: 14px;
        font-weight: normal;
        position: absolute;
        text-align: center;
        text-shadow: 0 1px 0 #ffffff;
        background-color: #eeeeee;
        // left: 3px;
        // top: 3px;
        // bottom: 3px;
        z-index: 3;
        border: $iconBoxBorder;
        border-right: none;
      }
      .custom-text {
        padding: $customTextPadding;
      }
    }

    .extra { 

      input {
        margin-left: 10px;
      }

      a{
        float: right;
        margin-right: 20px;
      }

      p {
        font-weight: bold;
        color: red;
        margin-left: 10px;
      }
    }

    button {
      display: block;
      background-color: $Navy;
      width: 80%;
      margin: 25px auto;
    }

    p {
      text-align: center;
      padding-left: 10%;
      padding-right: 10%;
    }
  }
}