// Put any @imports here
// See Readme for a list of supported ones

@import "foundation";
@import "font-awesome";


$Navy: #082c38; 
$BrightBlue: #39bced;
$White: #FFFFFF;
$LightGrey: #EDEDED;
$DarkGrey: #E5E5E0;
$iconBoxWidth: 30px;
$customTextPadding: 6px 6px 6px 40px;
$iconBoxBorder: 1px solid $LightGrey;


body {
  background: $BrightBlue;

  .container {
    margin: 20px auto;
    width: 80%;
    max-width: 1000px;
    max-height: 1000px;
  }
}

// View Articles by Subject View

.viewArticleSubjects {
  background-color: $White;
  padding: 10px;
  display: block;
  border: 6px solid $Navy;

 ul, h3 {
  text-align: center;
 }
}

.subject-headers {
  display: inline-block;
  border-bottom: 1px solid black;
}

.article-view-cards {
  padding: 0;
  margin: 0;

  .grid-block {
    display: inline-block;
  }

  .article-title-link{
    cursor: pointer;
    color: blue;
  }
}

.single-article-nav {
  list-style-type: none;
  margin-left: 2px;

  .article-nav-list-item {
    color: black;
    display: inline-block;
    margin-right: 5px;
    margin-left: 0px;
    cursor: pointer;
  }
}

ul.subject-button-list {
  list-style-type: none;
}

// ---- ARTICLE CARDS ON VIEW ARTICLES ---
div.view-article-card {
  margin: 0 auto;

  img {
    display: inline-block;
  }

  .art-card-text {
    vertical-align: top;
    // border: 1px solid black;
    height: 150px;
    display: inline-block;
    line-height: .5em;
    margin-left: 15px;
  }

  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}


.Two-big-number-dash {
  font-size: 2em;
  text-align: center;
}

.demo-pics {
  display: block;
  margin: 0 auto;
}

li.view-articles-news {
  border: 1px solid black;
  text-align: center;
  margin: 10px 0;
}

div.html-email-container {
  border: 2px solid $Navy;
  width: 600px;
  min-height: 500px;
  margin: 10px auto;
  background-color: white;
}

#input-article-table {
  border: none;
  background-color: white;
  padding: 10px;
    tr {
      border: none;
      background-color: $Navy; 
      margin: 10px;
    }
}

#input-headlines {
  font-size: 1.5em;
  border: none;
  background-color: white;
  color: $Navy;
}

#input-text-content {
  font-size: 1.2em;
  min-height: 150px;
}

.grid {
  width: 100%;
  max-width: 1200px;
  display: block;
  margin: 10px auto;
}

div.ui-grid-pager-panel {
  background-color: $Navy;
  color: white;
}

#subjectBuildDiv {
  display: inline-block;

  .subjectList {
    margin: 10px;
    display: flex-box;
    justify-content: distribute-space;
  }
}

.small-article-img {
  width: 100px;
  height: 100px;
}

// View-Subscribers

.view-subs-nav {
  display: inline-block;
  color: black;
  margin-right: 20px;
  margin-top: 10px;
}

.view-subs-btn {
  background-color: $Navy;
  margin-right: 10px;
}


.top-bar {
  background-color: $Navy;
}


@import "ui-grid";
@import "build-newsletter";
@import "homepage";
@import "login";
@import "signup";
@import "welcome";
@import "article";
@import "edit-article";
@import "view-articles";
@import "view-by-subject";
@import "navigation";
@import "add-subscriber";
@import "dashboard";
@import "file-import";
@import "add-article";