// Put any @imports here
// See Readme for a list of supported ones

@import "foundation";
@import "font-awesome";

body {
  background: #e2ebf3;
}

body .container {
  margin: 10px auto;
  max-width: 600px;
}

button .change-button {
  width: 100px;
  padding: 5px;
  background-color: green;
  border: 1px solid black;
  font-size: .9em;
}

form {
  
  div.large-6 {
  padding: 0px;
  }

}

.subject-headers {
  display: inline-block;
  border-bottom: 1px solid black;
}

.article-view-cards {
  padding: 0;
  margin: 0;

  .grid-block {
    display: inline-block;
  }

  .article-title-link{
    cursor: pointer;
    color: blue;
  }

}
