// Put any @imports here
// See Readme for a list of supported ones

@import "foundation";
@import "font-awesome";

$Navy: #082c38; 
$BrightBlue: #39bced;

body {
  background: #e2ebf3;

  .container {
    margin: 10px auto;
    max-width: 800px;
  }
}

// Log-IN Page 

form {
  .user-container {
    position: relative;
    width: 200px;

    .user-ph {
      display: inline-block;
      width: 20px;
      height: auto;
      font-size: 14px;
      font-weight: normal;
      position: absolute;
      text-align: center;
      text-shadow: 0 1px 0 #ffffff;
      background-color: #eeeeee;
      left: 3px;
      top: 3px;
      bottom: 3px;
      z-index: 3;
    }

    .custom-text {
      padding:6px 6px 6px 30px;
    }
  }
  
  .password-container{
    position: relative;
    width: 200px;

    .password-ph {
      display: inline-block;
      width:  auto;
      height: auto;
      font-size: 14px;
      font-weight: normal;
      position: absolute;
      text-align: center;
      text-shadow: 0 1px 0 #ffffff;
      background-color: #eeeeee;
      left: 3px;
      top: 3px;
      bottom: 3px;
      z-index: 3;
    }
    .custom-text {
      padding:6px 6px 6px 30px;
    }
  }
  button {
    display: inline-block;
    background-color: red;
    width: 200px;
    height: auto;
    border-radius: 5px;
    text-align: center;
  }
}





.subject-headers {
  display: inline-block;
  border-bottom: 1px solid black;
}

.article-view-cards {
  padding: 0;
  margin: 0;

  .grid-block {
    display: inline-block;
  }

  .article-title-link{
    cursor: pointer;
    color: blue;
  }

}

.single-article-nav {
  list-style-type: none;
  margin-left: 2px;

  .article-nav-list-item {
    color: black;
    display: inline-block;
    margin-right: 5px;
    margin-left: 0px;
    cursor: pointer;
  }

}

ul.subject-button-list {
  list-style-type: none;
}
