.profile-form {
  background-color: white;
  border: 6px solid $Navy;
  display: block;
  margin: 0px auto;
  width: 80%;
  max-width: 700px;
  min-width: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: $Navy;

  h3 {
    text-align: center;
    margin-bottom: 20px;
  }

  input {
    width: 60%;
    display: block;
    margin: 1px auto;
    margin-bottom: 25px;
    border: 1px solid $Navy;
  }

  label {
    display: block;
    width: 60%;
    margin: 1px auto;
    text-align: left;
    font-weight: bold;
    padding-bottom: 1px;
    // border: 1px solid $Navy;
  }

  button.send-profile {
    width: 60%;
    display: block;
    margin: 15px auto;
  }



}

form.profile-new-subject {
  background-color: white;
  border: 6px solid $Navy;
  display: block;
  margin: 10px auto;
  width: 80%;
  max-width: 700px;
  min-width: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: $Navy;
}

div.profile-current-subjects {
  background-color: white;
  border: 6px solid $Navy;
  display: block;
  margin: 10px auto;
  width: 80%;
  max-width: 700px;
  min-width: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: $Navy;

  h3 {
    color: $Navy;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .current-subjects-row{
    display: block;
    width: 95%;
    margin: 5px auto;

    .row-one {
      display: inline-block;
      width: 50%;
    }

    .row-two, .row-three {
      width: 22%;
      display: inline-block;
      text-align: center;
    }
  }
}

