.welcome {
  display: block;
  background-color: $Navy;
  border: 6px solid $Navy;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  margin: 40px auto;

  text-align: center;

  .welcome-top-msg {
    padding: 15px;
    font-size: 1.7em;
    font-weight: bold;
    color: $White;
  }

  

  .welcome-btns {
    border-bottom: 4px solid $BrightBlue;
    .banner-img-welcome {
    width: 90%;
    border: 2px solid $White;
    -webkit-box-shadow: 2px 2px 2px 2px $White;
      box-shadow:         2px 2px 2px 2px $White;
    }
    // margin-bottom: 15px;
    .member-block {
      width: 40%;
      height: 80px;
      margin-left: 4%;
      margin-right: 4%;
      margin-bottom: 4px;
      margin-top: 9px;
      display: inline-block;
      // border: 1px solid black;

      button {
        width: 98%;
        background-color: $Navy;
        // border: 3px solid $White;
        
        a {
          color: $White;
          font-weight: bold;
          font-size: 1.2em;
        }

        &:hover {
          background-color: $BrightBlue;
          color: $Navy;
        }
      }
    }
  }

  h5 {

    a{
      color: $Navy;
      font-weight: bold;

      &:hover {
        color: $BrightBlue;
      }
    }
  }

  .blurb {
    // border: 1px solid black;
    padding: 10px;
    padding-top: 20px;
    font-size: 1.1em;
  }


  .member-block {
    width: 40%;
    padding: 5px;
    height: 400px;
    margin: 1% 5% 4% 5%;
    display: inline-block;
    // border: 3px solid $Navy;
    vertical-align: top;
    // background-color: $LightGrey;
    // -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    // box-shadow:         3px 3px 5px 6px #ccc;

    img {
      margin-top: 10px;
      height: 250px;
      width: 250px;
      -webkit-box-shadow: 3px 3px 5px 6px $Navy;
      box-shadow:         3px 3px 5px 6px $Navy;
      // border: 2px solid $Navy;
    }

  }

  .grid-contain {
    background-color: $White;
  }


  @media screen and (max-width: 725px) {

    .welcome-top-msg {
      font-size: 1.3em;
    }

    .member-block {
      width: 80%;
      padding: 10px;
      margin: 5%;
      display: inline-block;
      // border: 2px solid $Navy;

    img {
      height: 250px;
      width: 250px;
      border: 2px solid $Navy;
    }    

    } 

    .welcome-btns {
      padding-bottom: 20px;
      .member-block {
        width: 90%;
        height: 70px;
        margin-left: 4%;
      margin-right: 4%;
      margin-bottom: 4px;
      margin-top: 9px;
        display: block;
        // border: 1px solid black;

         button {
        width: 98%;
        background-color: $Navy;
        // border: 3px solid $White;
        
        a {
          color: $White;
          font-weight: bold;
          font-size: 1.1em;
        }

        &:hover {
          background-color: $BrightBlue;
          color: $Navy;
        }
      }

        // button {
        //   width: 90%;
        //   background-color: $Navy;

        //   &:hover {
        //     background-color: $BrightBlue;
        //     color: $Navy;
        //   }
        // }
      }
    }
  }
  
}