<h3> {{ user_id }} Add subscriber page</h3>


<form ng-submit="vm.addSubscriber(sub)">
  <input placeholder="Email address..." ng-model="sub.email">
  <p ng-show="sub.emailError" class="form-error-message">{{ sub.emailError }}</p>

  <table>
    <tr class="header-row">
      <td class="table-titles">Subjects</td>
      <td class="table-titles">Opt in?</td>
    </tr>
    <tr subscriber-subjects ng-repeat="subject_name in subject-names" subject="subject_name">
      <label ng-repeat="subject_name in subject_names">
        <input type="checkbox" checklist-model="user.subject_names"
      checklist-value="subject_names"> {{ subject_name }}
      </label>
    </tr>
  </table>

  <button>Submit</button>
</form>