<p class="log-out" ng-click="logOut()">Log out</p>
<div style="display: block; margin: 40px auto; width: 90%; border: 5px solid #082c38; background-color: white; max-width: 500px;">
<h3 style="display: block; margin: 10px auto; width: 90%;">Edit subscriber</h3>

<p style="display: block; margin: 10px auto; width: 90%;"><a href="#/view-subscribers">View all subscribers</a></p>


<p style="display: block; margin: 10px auto; width: 90%;">Current relevant articles: {{ vm.associatedArticles.length }}</p>

<form style="display: block; margin: 10px auto; width: 90%;"ng-submit="vm.submitSubEdits(vm.subscriber)">
  <label>
    Email address: 
    <input ng-model="vm.subscriber.email">
  </label>
  <label>
    Subject names:
    <input ng-model="vm.subscriber.subject_names">
  </label>
  <p>Note: Separate subject names by commas</p>
  <button>Submit</button>
</form></div>