<h3>My subscribers</h3>

<p>Click column headers to sort</p>

<form>

  <div class="large-6 columns">
    <div class="row collapse prefix-radius">
      <div class="small-2 columns">
        <span class="prefix"><i class="fa fa-search"></i></span>
      </div>
      <div class="small-10 columns">
        <input type="text" placeholder="Search">
      </div>
    </div>
  </div>

</form>

<table>
  <tr class="header-row">
    <td class="table-titles"><a href="#" ng-click="sortType = 'firstName'">First Name <span ng-show="sortType == 'firstName'" class="fa fa-caret-down"></a></span></td>
    <td class="table-titles"><a href="#" ng-click="sortType = 'lastName'">Last Name <span ng-show="sortType == 'lastName'" class="fa fa-caret-down"></a></span></td>
    <td class="table-titles"><a href="#" ng-click="sortType = 'email'">Email <span ng-show="sortType == 'email'" class="fa fa-caret-down"></a></span></td>

    <!-- CREATE A COLUMN FOR EACH CATEGORY/TAG -->
    <!-- CREATE A NEW DIRECTIVE TO NG-REPEAT FOR EACH TAG - SHOULD BE RELATIVELY SIMPLE -->
    <!-- <td category-preferences></td> -->


    <td class="table-titles">Baseball</td>
  </tr>

  <tr subscriber-item 
    ng-repeat="s in vm.subscribers | orderBy:sortType:sortReverse"
    sub="s">
  </tr>
  
</table>
  


