<h3>My subscribers</h3>

<a href="#/main-dashboard"><span>Go to dashboard</span></a>

<br>

<a href="#/build-newsletter"><span>Build a newsletter</span></a>

<p>Click column headers to sort</p>


<!-- If you comment this out, the other table shows up -->
<div ui-grid="{ data: vm.subscribers }" class="myGrid"></div>

<table>
  <tr class="header-row">

    <td class="table-titles"><a ng-click="sortType = 'id'; sortReverse = !sortReverse">Id<span ng-show="sortType == 'id'" class="fa fa-caret-down"></a></span></td>

    <td class="table-titles"><a ng-click="sortType = 'email'; sortReverse = !sortReverse">Email <span ng-show="sortType == 'email'" class="fa fa-caret-down"></a></span></td>

    <td class="table-titles"><a ng-click="sortType = 'subjectName'; sortReverse = !sortReverse">Subject Names <span ng-show="sortType == 'subjectName'" class="fa fa-caret-down"></a></span></td>

    <td>View</td>
    <td>Edit</td>
    <td>Delete</td>
    <td class="table-titles">
      <!-- <a ng-click="sortType = 'baseball'; sortReverse = !sortReverse"> -->
        Baseball 
      <!-- <span ng-show="sortType == 'baseball'" class="fa fa-caret-down"></a></span> -->
    </td>
    <td>Basketball</td>
    <td>Football</td>
    <td>Hockey</td>
    <td>Soccer</td>
  </tr>

   <tr subscriber-item 
    ng-repeat="s in vm.subscribers | orderBy:sortType:sortReverse"
    sub="s">
  </tr>
  
</table>
  


