<div class="addarticle">
  <h3>Add An Article</h3>
  <p> Fill out the form below to categorize your article database for your email campaigns</p>
  <form class="add-article"ng-submit="vm.addArticle(article)">
    <input class="custom-text" ng-model="article.subject_names" placeholder="Input subject(s) name...">
    <input class="custom-text" ng-model="article.title" placeholder="title of artile...">
    <input class="custom-text" ng-model="article.content" placeholder="article content...">
    <button class="submit">Submit</button>
  </form>
</div>