<div class="addArticle">
<p class="log-out" ng-click="logOut()">Log out</p>

  <div class="logo">
    <img src="assets/StreamLine_2_logo.png">
    <h3 style="font-weight: bold;">ADD ARTICLE</h3>
    <p>
      Create a new content article for your upcoming newsletter.
    </p>

  <form  class="article-form" style="min-width: 300px; max-width: 800px; width: 100%;"class="add-article" ng-submit="vm.addArticle(article)">
    
    <select ng-model="article.subject_names">
      <option value=''>Choose a subject</option>
      <option ng-repeat="subject in subjects track by $index">{{ subject }}</option>
    </select>


    <input class="custom-text"  id="input-headlines" width="100%" ng-model="article.title" placeholder="Headline..."/>

    <textarea class="custom-text" id="input-text-content" ng-model="article.content" placeholder="Article Content..."></textarea>


  
   <!--  <table id="input-article-table" class="article" style="max-width: 800px; width: 100%;">
      <tr width="100%">
        <td width="100%">
          <input class="custom-text"  id="input-headlines" width="100%" ng-model="article.title" placeholder="Headline..."/>
        </td>
      </tr>
      <tr>
        <td>
          <textarea class="custom-text" id="input-text-content" ng-model="article.content" placeholder="Article Content..."></textarea>
        </td>
      </tr>
    </table>   -->
    
    <input type="file" id="articleImg">

    <button class="submit">Create</button>
  </form>

  </div>

</div>