<div class="addArticle">

  <div class="logo">
    <img src="assets/StreamLine_2_logo.png">
    <h3>ADD ARTICLE</h3>
    <p>
      Fill out the form below to create an article for your
      subscriber list.
    </p>
  </div>

  <form  class="article-form" style="min-width: 300px; max-width: 800px; width: 100%;"class="add-article"ng-submit="vm.addArticle(article)">
    
    <select ng-model="article.subject_names">
      <option value=''>Choose a subject</option>
      <option ng-repeat="subject in subjects">{{ subject }}</option>
    </select>

    <table class="article" id="input-article-table" style="max-width: 800px; width: 100%;">
      <tr width="100%">
        <td width="100%">
          <input class="custom-text" id="input-headlines" ng-model="article.title" placeholder="Headline...">
        </td>
      </tr>
      <tr>
        <td>
          <textarea id="input-text-content" class="custom-text" ng-model="article.content" placeholder="Article Content..."> </textarea>
        </td>
      </tr>
    </table>  
    
    <input type="file" id="articleImg">
    <!-- <button ng-click="imageAdded=true">Add Image</button> -->

    <button class="submit">Submit</button>
  </form>

</div>