<h5>Build segment page</h5>


<form ng-submit="vm.getSubjectsForNewsletter(newsObj)">

  <input placeholder="Name of newsletter..." ng-model="newsObj.name">

  <h5>Subject names</h5>
  
  <div id="subjectBuildDiv" ng-repeat="subject in subjects">
    <label class="subjectList">
      <input
        type="checkbox"
        checklist-model="newsObj.subjectNames"
        checklist-value="subject"> 
        {{ subject }}
    </label>
  </div>
  <br>
  <button>Submit</button>

</form>

<form>
  <input 
    type="text" 
    placeholder="Insert logo URL for your newsletter"
    ng-model="bannerImg">
  <button>Upload banner image</button>
</form>

<div class="html-email-container">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
  </head>

  <body>
    <table class="body" style="width: 100%;">
      <tr>
        <td class="center" align="center" valign="center">
          <p style="text-align: center;">Click to view in your browser</p>
          <img class="banner-img" src="{{ bannerImg }}" ng-show="bannerImg">
        </td>
      </tr>
      <tr>
        <td class="wrapper">
          <table email-article 
          ng-repeat="a in articles"
          article="a"
          class="row">
          </table>
        </td>
      </tr>
    </table>
  </body>
<!-- http://fpoimg.com/600x150 -->

</html>
</div>

<button ng-click="vm.sendNews()">Send</button>



