<h5>Build segment page</h5>


<form ng-submit="vm.getSubjectsForNewsletter(newsObj)">

  <input placeholder="Name of newsletter..." ng-model="newsObj.name">

  <h5>Subject names</h5>
  
  <div ng-repeat="subject in subjects">
    <label>
      <input
        type="checkbox"
        checklist-model="newsObj.subjectNames"
        checklist-value="subject"> 
        {{ subject }}
    </label>
  </div>

  <button>Submit</button>

</form>

<ul class="small-block-grid-2">
  <li class="view-articles-news" ng-repeat="subject in subjectsChosen">
    <span>{{ subject }}</span>
    <span ng-repeat="article in articles">{{ article.title }}</span>
  </li>
</ul>

<a href="#/preview-newsletter"><button>Preview</button></a>



