<div class="edit-article">
  
  <h4>Edit Article</h4>

  <form ng-submit="vm.submitEdits(vm.article)">
    <label>
      Title </label>
      <input ng-model="vm.article.title">
   
    <label>
      Subject name
      </label>
      <select ng-model="vm.article.subject_names">
        <option ng-repeat="subject in subjects">{{subject}}</option>
      </select>
      <!-- <input ng-model="vm.article.subject_names"> -->
    <label>
      Content</label>
      <textarea id="edit-art-par" ng-model="vm.article.content"></textarea>

    <label>Article Image (url)</label>
    <input ng-model="vm.article.media">
    <img ng-src="{{ vm.article.media }}">
    
    <button>Submit</button>
  </form>
  
</div>
