<p class="log-out" ng-click="logOut()">Log out</p>
<div class="edit-article">

  <form ng-submit="vm.submitEdits(vm.article)">
  <span ng-click="vm.goToArticle(vm.article)" class="back-link">Back</span>
  <h4>Edit Article</h4>
    <label>
      Title </label>
      <input ng-model="vm.article.title">
   
    <label>
      Subject name
      </label>
      <select ng-model="vm.article.subject_names">
        <option ng-repeat="subject in subjects">{{subject}}</option>
      </select>
      <!-- <input ng-model="vm.article.subject_names"> -->
    <label>
      Content</label>
      <textarea id="edit-art-par" ng-model="vm.article.content"></textarea>

    <div ng-show="vm.article.media">
      <p>Current image:</p>
      <img ng-src="{{ vm.article.media }}">
    </div>

    <p class="no-img-message" ng-show="!vm.article.media">Currently no image</p>

    <!-- <label>Article Image (url)</label>
    <input ng-model="vm.article.media"> -->
    
    <input type="file" id="articleImg">
    
    <button>Submit</button>
  </form>
  
</div>
