<h3>Send all</h3>


<button style="background-color: red;" ng-click="vm.sendToFullList()">Blast list</button>

<button ng-click="vm.getAllArticles(vm.subscribers)">Get all</button>
<button ng-click="vm.previewEmail()">Preview an email</button>
<button ng-click="vm.sendToAll()">Send to all</button>
<button ng-click="vm.checkMe()">Manually Check</button>
<button ng-click="vm.build()">Build</button>
<button ng-click="vm.checkMatch()">CheckMatch</button>

<button ng-click="vm.buildNewsletters()">MOMENT OF TRUTH</button>
<br>

<button ng-click="vm.sendAllEmails()" style="background-color: white; color: black;">SEND EMAILS!!!</button>


<p>Number of subscribers: {{ vm.subscribers.length }}</p>

<ul>
  <li ng-repeat="subscriber in vm.subscribers">{{ subscriber.email }}</li>
</ul>

<ul>
  <li ng-repeat="article in vm.articles">{{ article.content }}</li>
</ul>

<!-- PREVIEW CODE -->
<div class="html-email-container">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
  </head>

  <body>
    <table class="body" style="width: 100%;">
      <tr>
        <td class="center" align="center" valign="center">
          <p style="text-align: center;">Click to view in your browser</p>
          <img class="banner-img" src="{{ bannerImg }}" ng-show="bannerImg">
        </td>
      </tr>
      <tr>
        <td class="wrapper">
          <table email-article 
          ng-repeat="a in articles"
          article="a"
          class="row">
          </table>
        </td>
      </tr>
    </table>
  </body>
<!-- http://fpoimg.com/600x150 -->

</html>
</div>