<!-- <div class="viewArticleSubjects" > -->
<p class="log-out" ng-click="logOut()">Log out</p>
<div class="viewArticles">
  
  <a href="#/view-articles">View all articles</a>
  <h3 class="view-sub-heading">View articles by subject</h2>


  <ul class="subject-button-list">
    <a ng-repeat="subject in subject_names" class="view-sub-link" ng-click="vm.subjectName(subject)">
      <li>
        {{subject}}
      </li>
    </a>
    <!-- <a class="view-sub-link" ng-click="vm.subjectName('Baseball')">
      <li>
        Baseball
      </li>
    </a> -->
  </ul>

  <div ng-repeat="article in vm.articles" class="view-article-card" ng-click="vm.goToArticle(article)">

    <!-- IMG  -->
    <div ng-show="article.media !== '/media/original/missing.png'">
      <p>Current image:</p>
      <img class="small-article-img" ng-src="{{ article.media }}">
    </div>
    <p class="no-img-message" ng-show="article.media === '/media/original/missing.png'">Currently no image</p>
    <!-- IMG -->

    <div class="art-card-text">
      <h3 class="art-card-headline">
        {{ article.title }}
      </h3>
      <p class="art-card-subjects">
        {{ article.subject_names }}
      </p>
      <p class="art-card-content">
        {{ article.content }}
      </p>
      <!-- <p class="art-card-time">Time Stamp</p> -->
    </div>

</div>

