<div class="viewArticles">

  <div class="top">

    <h3>View all articles</h3>
    <a href="#/view-by-subject"><span>View by subject</span></a>

  </div>



  <div ng-repeat="article in vm.articles" class="view-article-card" ng-click="vm.goToArticle(article)">
    <img class="small-article-img" src="{{ article.media }}}">
    <div class="art-card-text">
      <h3 class="art-card-headline">
        {{ article.title }}
      </h3>
      <p class="art-card-subjects">
        {{ article.subject_names }}
      </p>
      <p class="art-card-content">
        {{ article.content }}
      </p>
      <!-- <p class="art-card-time">Time Stamp</p> -->
    </div>

</div>


<!-- <table>
  <tr class="header-row">
    <td class="table-titles"><a ng-click="sortType = 'title'; sortReverse = !sortReverse">Title<span ng-show="sortType == 'title'" class="fa fa-caret-down"></a></span></td>

    <td class="table-titles">
      <a ng-click="sortType = 'subject'; sortReverse = !sortReverse">Subject<span ng-show="sortType == 'subject'" class="fa fa-caret-down"></a></span>
    </td>
    <td class="table-titles">
      <a ng-click="sortType = 'words'; sortReverse = !sortReverse">Words<span ng-show="sortType == 'words'" class="fa fa-caret-down"></a></span>
    </td>
  </tr>
  <tr ng-repeat="article in vm.articles">
    <td ng-click="vm.goToArticle(article)">
      <span class="article-title-link">
        {{ article.title }}
      </span>
    </td>
    <td>
      {{ article.subject_names }}
    </td>
    <td>
      {{ article.content.length }}
    </td>
  </tr>
</table> -->