<div class="article"> 
  <ul class="single-article-nav">
    <li class="article-nav-list-item"><a href="/#/view-articles" class="article-nav-list-item">Back</a></li>
    <li class="article-nav-list-item" ng-click="vm.editMe(vm.article)">Edit</li>
    <li class="article-nav-list-item" ng-click="vm.deleteMe(vm.article)" style="color:red;">Delete</li>
  </ul>


  <h3>{{ vm.article.title }}</h3>

  <p>Subjects: {{ vm.article.subject_names }}</p>

  <p>Subscribers: {{ vm.associatedSubscribers.length }}</p>

  <img ng-src="{{vm.article.media }}"/>

  <hr>

  <p>{{ vm.article.content }}</p>

</div>
