<!-- <div class="viewArticleSubjects" > -->
<p class="log-out" ng-click="logOut()">Log out</p>
<div class="viewArticles">
  
  <h3 class="view-sub-heading">View articles by subject</h2>

  <ul class="subject-button-list">
    <a ng-repeat="subject in subject_names" class="view-sub-link" ng-click="vm.subjectName(subject)">
      <li>
        {{subject}}
      </li>
    </a>
    <!-- <a class="view-sub-link" ng-click="vm.subjectName('Baseball')">
      <li>
        Baseball
      </li>
    </a> -->
  </ul>

  <div ng-repeat="article in vm.articles" class="view-article-card" ng-click="vm.goToArticle(article)">
    <img class="small-article-img" src="{{ article.media }}}">
    <div class="art-card-text">
      <h3 class="art-card-headline">
        {{ article.title }}
      </h3>
      <p class="art-card-subjects">
        {{ article.subject_names }}
      </p>
      <p class="art-card-content">
        {{ article.content }}
      </p>
      <!-- <p class="art-card-time">Time Stamp</p> -->
    </div>

</div>

