<div class="home">
  <div class="homeImage">
    <div class="home-info">
      <h2>
        Deliver all types of campaign  emails through one reliable platform
      </h2>
      <button class="1">
        <a href="#/login">
          <font color="white">
            Already a Member?
          </font>
        </a>
      </button>
      <button>
        <a href="#/signup">
          <font color="white">
            Not a Member?
          </font>
        </a>
      </button>
    </div>
    <img src="https://blogs.adobe.com/digitalpublishing/files/2015/12/Social-Sharing-Main-700x400.jpg">
    <div class="text">
      <p>Streamline is an email application that allows for users to always deliver the best content to subscribers, they way that their subscribers want their content.</p>
      <p> Upon receiving your log-in Credentials, you will be able to Add Subscribers to your email list services based on the content that they want to see. Further segmentation is done by tagging the content and also ensuring that individual subscribers are getting what they want, when they want.</p>
    </div>
  </div>
  <div class="manageImage">

    <div class="grid-frame">
      <div class="grid-block">
        <img class="managePic" src="http://www.metia.com/media/1042734/marketing_automation_480x200.jpg">
        
      </div>
      <div class="grid-block">
        <div class="text">
          <h3>
            Manage Subscribers
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p> 
        </div>
      </div>
    </div>
  </div>
  <div class="grid-frame">
    
  </div>

  <div class="generateImage">
    <img class="generatePic" src="https://gapmarks.com/img/articles/8cf019d.png">
      <div class="text">
      <h3>
      Generate Articles
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p> 
    </div>
  </div>

  <div class="publishContent">
    <img src="https://i.vimeocdn.com/video/521596384_640.jpg">
     <div class="text">
      <h3>
      Publish Content
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p> 
    </div>
  </div>

  <div class="trackImage">
    <img src="http://www.smekdigital.com/wp-content/uploads/2015/03/email-marketing.jpg">
      <div class="text">
      <h3>
      Track Performance
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p> 
    </div>
  </div>



  
</div>


