<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Streamline</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="">Views</a>
        <ul class="dropdown">
          <li><a href="#/login">Log-In</a></li>
          <li><a href="#/signup">Sign-up</a></li>
          <li><a href="#/add-subscriber">Add Subscribers</a></li>
          <li><a href="#/view-subscribers">View Subscribers</a></li>
          <li><a href="#/add-article">Add Articles</a></li>
          <li><a href="#/view-articles">View Articles</a></li>
        </ul>
      </li>
    </ul>

  </section>
</nav>


<section class="container" ui-view></section>