<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>
        <img src="assets/StreamLine_2_logo.png">
      </h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="">Accounts</a>
        <ul class="dropdown">
          <li><a href="#">Home</a></li>
          <li><a href="#/welcome">Welcome</a></li>
          <li><a href="#/login">Log-In</a></li>
          <li><a href="#/signup">Sign-up</a></li>
        </ul>
      </li>
      <li class="active">
        <a href="#/main-dashboard">Dashboard</a>
      </li>
      <li class="has-dropdown">
        <a href="">Content</a>
        <ul class="dropdown">
          <li><a href="#/add-article">Add Article</a></li>
          <li><a href="#/view-articles">View Articles</a></li>
          <li><a href="#/view-by-subject">View Articles By Subject</a></li>
          <li><a href="#/build-newsletter">Build Newsletter</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="">Subscribers</a>
        <ul class="dropdown">
          <li><a href="#/add-subscriber">Add Subscriber</a></li>
          <li><a href="#/view-subscribers">View Subscribers</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>

<section class="container" ui-view></section>