
<form class="login" ng-submit="vm.login(user)">
  <h3>Log in</h3>
  <div class="user-container">
    <div class="user-ph">
      <i class="fa fa-user"></i>  
    </div>
    <input class="custom-text" ng-model="user.email" placeholder="   Email Address">
  </div>


 <!--  <div class="input-prepend">
    <span class="fa fa-key">
      <input ng-model="user.password" type="password" placeholder="Password">  
    </span>
  </div>
  <button class="change-button">Log in</button>
  <p> If you do not have an account click <a href="#/signup">HERE</a></p>
</form>


<span class="add-on"><i class="fa fa-user"></i></span>
    <input ng-model="user.email" placeholder="Email Address"> -->