<p class="log-out" ng-click="logOut()">Log out</p>
<form class="profile-form" ng-submit="vm.sendUserInfo(user)">
  
  <h3>User Profile</h3>
  
  <label class="profile-input">Name</label>
  <input class="profile-input" type="text" placeholder="Name" ng-model="user.name">

  <label class="profile-input">Email</label>
  <input class="profile-input" type="text" placeholder="Email" ng-model="user.email">


  

  <label class="profile-input">Mandrill API Key</label>
  <input class="profile-input" type="text" placeholder="Insert API Key..." ng-model="user.mandrill_api">

  <!-- <input class="profile-input" type="text" placeholder="Banner Image URL" ng-model="user.email">
 -->
  <button class="send-profile">Submit</button>

</form>

<div class="profile-current-subjects">
  <h4>Current Subjects:</h4>
  <ul>
    <li ng-repeat="subject in vm.currentSubjects">{{ subject.name }}</li>
  </ul>
</div>



<form class="profile-new-subject" ng-submit="vm.addNewSubject(newSubject)">
  <input ng-model="newSubject" placeholder="Add new subject">
  <button>Add</button>
</form>


<div class="profile-current-subjects">
  <h4>Current Subjects:</h4>
  <form ng-submit="vm.updateSubjects(vm.currentSubjects)">
    <input ng-show="vm.currentSubjects.length > 0" ng-model="vm.currentSubjects[0].name">
    <input ng-show="vm.currentSubjects.length > 1" ng-model="vm.currentSubjects[1].name">
    <input ng-show="vm.currentSubjects.length > 2" ng-model="vm.currentSubjects[2].name">
    <input ng-show="vm.currentSubjects.length > 3" ng-model="vm.currentSubjects[3].name">
    <button>Submit</button>
  </form>
</div>