
<div class="signup">
  <h3>Sign up form</h3>
  <form class="sign-up" ng-submit="vm.signup(user)">
    <div class="company-container">
      <div class="envelope-ph">
        <i class="fa fa-envelope"></i>
         <input ng-model="user.name" placeholder="Company name">
      </div>
    </div>
    <div class="company-container">
      <div class="envelope-ph">
        <i class="fa fa-envelope"></i>
        <input ng-model="user.email" placeholder="Email">
      </div>
    </div>
    <input ng-model="user.name" placeholder="Company name">
    <input ng-model="user.email" placeholder="Email">
    <p ng-show="user.emailError" class="form-error-message">{{ user.emailError }}</p>
    <input ng-model="user.password" type="password" placeholder="Password">
    <button>Sign up</button>
  </form>
</div>