
<div class="signup">
  <div class="logo">
    <img src="assets/StreamLine_2_logo.png">
    <p>Create an account</p>
  </div>
  <form class="sign-up" ng-submit="vm.signup(user)">
    <div class="user-container">
      <div class="user-ph">
        <i class="fa fa-user"></i>
      </div>
      <input class="custom-text" ng-model="user.name" placeholder="Company name">
    </div>
    <div class="company-container">
      <div class="company-ph">
        <i class="fa fa-envelope"></i> 
      </div>
      <input class="custom-text" ng-model="user.email" placeholder="Email">
    </div>
     <div class="password-container">
      <div class="password-ph">
        <i class="fa fa-key"></i> 
      </div>
      <input class="custom-text" ng-model="user.password" type="password" placeholder="Password">
    </div>
    
    <button>SIGN UP</button>
    <p>
      Already have a StreamLine ID?<br>
      <a href="#/login">
        Log In
      </a>
    </p>
  </form>
</div>