<div class="welcome">

  <div class="welcome-info">
    <p>Deliver all types of campaign  emails through one reliable platform</p>
    <button class="1">
      <a href="#/login"><font color="white">Already a Member? Click Here</font></a>
    </button>
    <button>
      <a href="#/signup">
        <font color="white">
          Not a Member? Click Here
        </font>
      </a>
    </button>
  </div>

  <div class="product1">
    <p> Manage subscribers like no other using our seamless interface. In just one view, you can manage all the of your subscribers in one view and also generate customize curated emails for all of those individuals that your company supports</p>

    <ul class="small-block-grid-2">
     <li class="dash-3-block">
       <h5>Manage Subscribers</h5>
       <img class="demo-pics" src="http://fpoimg.com/150x150">
     </li>
     <li class="dash-3-block">
       <h5>Generate Articles</h5>
       <img class="demo-pics" src="http://fpoimg.com/150x150">
     </li>
    </ul>  
  </div>

  <div class="product2">
    <p> Become an email wizard with customized email publishing content templates where you are able to send the emails to your users in the exact fashions that they like to receive their messages. In addition to that, you will also be able to track the performance of how your user interact with the email it self with out Streamline analytics</p>

    <ul class="small-block-grid-2">
      <li class="dash-3-block">
        <h5>Publish Content</h5>
        <img class="demo-pics" src="http://fpoimg.com/150x150">
      </li>
      <li class="dash-3-block">
        <h5>Track Performance</h5>
        <img class="demo-pics" src="http://fpoimg.com/150x150">
      </li>
    </ul>
  </div>

</div>



